# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
.npm/

# Backend Uploads
backend/uploads/

# Large Datasets & Models
archive/checkpoints/
figcaps_data/
img_extracted/

# Giant logs (optional to ignore, but safe)
*.log
